---

---

<h3 class="text-4xl text-main font-bold flex justify-center mt-16" id="contact-form">Contáctanos</h3>
<div class="font-medium text-xl mt-4 text-center w-full mb-8 px-4">
    <span>En <span class="font-semibold">Iquitos Tech</span>, estamos comprometidos a ofrecerte soluciones tecnológicas integrales que te ayuden a alcanzar tus objetivos de manera efectiva y eficiente <span class="text-blue-700 font-bold">¡Confía en nosotros!</span></span>
</div>

<div class="flex justify-center">  
    
    <script type="text/javascript" src="https://opnform.com/widgets/iframeResize.min.js"></script>
    <iframe style="border:none;width:100%;" id="form-contact-form-glzesh" src="https://opnform.com/forms/contact-form-glzesh"></iframe>
    <script type="text/javascript">iFrameResize({log: false, checkOrigin: false}, "#form-contact-form-glzesh");</script>

</div>