---
import ContactForm from "./ContactForm.astro";


---

<h3 class="text-4xl text-main font-bold flex justify-center mt-16" id="contact-form">Contáctanos</h3>
<div class="font-medium text-xl mt-4 text-center w-full mb-16 px-4">
    <span>En <span class="font-semibold">Iquitos Tech</span>, estamos comprometidos a ofrecerte soluciones tecnológicas integrales que te ayuden a alcanzar tus objetivos de manera efectiva y eficiente <span class="text-blue-700">¡Confía en nosotros!</span></span>
</div>

<ContactForm />