<div class="parent w-[500px] h-[400px]">
    <div class="img1">
        <span class="my-5 mx-5 py-3 px-3 absolute text-white font-semibold text-[18px]">Reparación de laptops y computadoras</span>
    </div>
    <div class="img2">
        <span class="mt-44 mx-5 py-3 px-3 absolute text-white font-semibold text-[18px]">Armamos PC's</span>
    </div>
    <div class="img3">
        <span class="mt-44 mx-1 py-3 px-3 absolute text-white font-semibold text-[18px]">Reparación de celulares</span>
    </div>
</div> 

<style>
    .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 300px 250px;
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .img1 { 
        background-image: url("img/laptop-repair.webp");
        background-size: cover;
        grid-area: 1 / 1 / 2 / 3;
        border-radius: 25px;
        box-shadow: 0 8px 32px 0 rgba(7, 8, 12, 0.27);
    }
    
    .img2 { 
        background-image: url("img/pc-montaje.webp");
        background-size: cover;
        grid-area: 2 / 1 / 3 / 2;
        border-radius: 30px;
        box-shadow: 0 8px 32px 0 rgba(7, 8, 12, 0.27);
    }

    .img3 { 
        background-image: url("img/phone-repair.webp");
        background-size: cover;
        grid-area: 2 / 2 / 3 / 3; 
        border-radius: 30px;
        box-shadow: 0 8px 32px 0 rgba(7, 8, 12, 0.27);
    }

    span {
        border-radius: 10px;
        background: rgba(105, 105, 105, 0.4);
        box-shadow: 0 8px 32px 0 rgba(7, 8, 12, 0.37);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.18);
    }

</style>