---
import RichResults from "@/components/RichResults.astro"
---

<title>Iquitos Tech - Reparaciones Tech</title>
<meta charset="utf-8" />
<meta name="description" content="En Iquitos Tech entendemos lo crucial que es mantener tus dispositivos tecnológicos en óptimas condiciones. Estamos aquí para ayudarte.">
        
<meta name="viewport" content="width=device-width" />
<link rel="canonical" href="https://iquitostech.net/">
    
<meta name="theme-color" content="white">
<meta name="keywords" content="iquitos, reparación de computadoras, ténico de computadoras en iquitos, armado de pc en Iquitos, desarrollo web, iquitos tech">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@iquitostech">
<meta name="twitter:creator" content="@iquitostech">
<meta name="twitter:title" content="Iquitos Tech - Reparaciones Tech">
<meta name="twitter:description" content="En Iquitos Tech entendemos lo crucial que es mantener tus dispositivos tecnológicos en óptimas condiciones. Estamos aquí para ayudarte.">
<meta name="twitter:image" content="/img/og.webp">

<meta name="og:image" content="/img/og.webp">
<meta name="og:title" content="Iquitos Tech - Reparaciones Tech">
<meta name="og:description" content="En Iquitos Tech entendemos lo crucial que es mantener tus dispositivos tecnológicos en óptimas condiciones. Estamos aquí para ayudarte.">
<meta name="og:url" content="https://iquitostech.net">
<meta name="og:site_name" content="Iquitos Tech">

<meta name="og:locale" content="es_ES">
<meta name="og:type" content="website">
<meta name="robots" content="index, follow">
        
<meta name="googlebot" content="index, follow">
        
<link rel="icon" type="image/svg+xml" href="/logo.svg" />
        
<meta name="msapplication-config" content="/browserconfig.xml">
        
<link rel="manifest" href="/manifest.webmanifest">

<RichResults />