<h3 class="text-4xl mt-48 flex justify-center font-bold text-main" id="services-cards">Nuestros Servicios</h3>
<div class=" mt-10 lg:grid lg:grid-cols-2 lg:gap-[10px]">
    <div class="my-2">
        <div class="flex place-content-start w-[550px] md:w-[650px] mx-auto">
            <h4 class="md:text-2xl pl-10 font-semibold absolute pt-[25px] w-[240px] md:w-[400px] break-words text-xl">Reparación de computadoras y laptops</h4>
            <span class="pl-10 absolute md:text-[20px] opacity-80 font-light pt-28 md:pt-24 break-words md:w-[320px] w-[240px] text-[17px]">Ya sea un problema de hardware o software, podemos reparar tu dispositivo y dejarlo como nuevo.</span>
        </div>
        <img src="/img/reparacion-pc-laptops.webp" class=" z-[-1] rounded-[50px] w-[400px] md:w-[650px] mx-auto h-[274.613px] object-cover"/>
    </div>
    <div class="my-2">
        <div class="flex place-content-start w-[550px] md:w-[550px] mx-auto">
            <h4 class="md:text-2xl pl-10 font-semibold absolute pt-[25px] w-[300px] break-words text-xl">Desarrollo Web con WordPress</h4>
            <span class="pl-10 absolute md:text-[20px] opacity-80 font-light pt-24 break-words md:w-[320px] w-[220px] text-[17px]">Creamos páginas web a medida que reflejen la identidad de tu marca y te ayuden a alcanzar tus objetivos en línea.</span>
        </div>
        <img src="/img/desarrollo-web.webp" class=" z-[-1] rounded-[50px] w-[550px] md:w-[600px] mx-auto h-[274.613px]"/>
    </div>
</div>
<div class="mt-[10px] lg:grid lg:grid-cols-2 lg:gap-[10px]">
    <div class="my-2">
        <div class="flex place-content-start w-[550px] md:w-[650px] mx-auto">
            <h4 class="md:text-2xl pl-10 font-semibold absolute pt-[25px] w-[240px] break-words text-xl">Armado de PC a Medida</h4>
            <span class="pl-10 absolute md:text-[20px] opacity-80 font-light pt-[85px] break-words md:w-[320px] w-[240px] text-[17px]">Desde PCs para juegos hasta estaciones de trabajo profesionales.</span>
            <span class="ml-10 mt-[200px] absolute rounded-lg border-gray-300 bg-black text-white px-4 py-1">Próximamente</span>
        </div>
        <img src="/img/armados-de-pc.webp" class="z-[-1] rounded-[50px] w-[550px] md:w-[650px] mx-auto h-[274.613px]"/>
    </div>
    <div class="my-2">
        <div class="flex place-content-start w-[550px] md:w-[550px] mx-auto">
            <h4 class="md:text-2xl pl-10 font-semibold absolute pt-[25px] md:w-[300px] w-[180px] break-words text-xl">Reparación de celulares y tablets</h4>
            <span class="pl-10 absolute md:text-[20px] opacity-80 font-light pt-[120px] md:pt-24 break-words md:w-[240px] w-[200px] text-[17px]">No importa la marca o el modelo, podemos reparar una amplia variedad de dispositivos.</span>
        </div>
        <img src="/img/celulares.webp" class="z-[-1] rounded-[50px] w-[550px] md:w-[600px] mx-auto h-[274.613px]"/>
    </div>
</div>

</div>

<style>

img {
    box-shadow: 0 2px 40px 0 rgba(7, 8, 12, 0.17);
}

</style>