<h3 class="text-4xl mt-48 flex justify-center font-bold text-blue-700" id="services-cards">Nuestros Servicios</h3>
<div class="services1 h-[300px] mt-10">
    <div class="services-card-shadow rounded-[50px] bg-[url('img/reparacion-pc-laptops.webp')] bg-cover">
        <h4 class="text-2xl font-semibold absolute pt-[35px] pl-10 w-[400px] break-words">Reparación de computadoras y laptops</h4>
        <span class="pl-10 absolute text-[20px] opacity-80 font-light pt-28 break-words w-[320px]">Ya sea un problema de hardware o software, podemos reparar tu dispositivo y dejarlo como nuevo.</span>
    </div>
    <div class="services-card-shadow rounded-[50px] bg-[url('/img/desarrollo-web.webp')] bg-contain">
        <h4 class="text-2xl font-semibold absolute pt-[35px] pl-10 w-[300px] break-words">Desarrollo Web con WordPress</h4>
        <span class="pl-10 absolute text-[20px] opacity-80 font-light pt-28 break-words w-[320px]">Creamos páginas web a medida que reflejen la identidad de tu marca y te ayuden a alcanzar tus objetivos en línea.</span>
    </div>
</div>
<div class="services2 h-[300px] my-[10px]">
    <div class="services-card-shadow rounded-[50px] bg-[url('img/armados-de-pc.webp')] bg-cover">
        <h4 class="text-2xl font-semibold absolute pt-[35px] pl-10 w-[300px] break-words">Armado de PC a Medida</h4>
        <span class="pl-10 absolute text-[20px] opacity-80 font-light pt-28 break-words w-[280px]">Desde PCs para juegos hasta estaciones de trabajo profesionales.</span>
        <span class="ml-14 mt-56 absolute rounded-lg border-gray-300 bg-black text-white px-4 py-1">Próximamente</span>
    </div>
    <div class="services-card-shadow rounded-[50px] bg-[url('img/celulares.webp')] bg-cover">
        <h4 class="text-2xl font-semibold absolute pt-[35px] pl-10 w-[320px] break-words">Reparación de celulares y tablets</h4>
        <span class="pl-10 absolute text-[20px] opacity-80 font-light pt-28 break-words w-[300px]">No importa la marca o el modelo, podemos reparar una amplia variedad de dispositivos.</span>
    </div>
</div>
<div class="services3">

</div>

<style>
.services1 {
    display: grid;
    grid-template-columns: 650px 550px;
    grid-column-gap: 10px;
}

.services2 {
    display: grid;
    grid-template-columns: 550px 650px;
    grid-column-gap: 10px;
}

.services3 {
    display: grid;
    grid-template-columns: 1000px 500px;
    grid-column-gap: 10px;
}

.services-card-shadow {
    box-shadow: 0 6px 20px 0 rgba(7, 8, 12, 0.27);
}
</style>